<%= form_for([@patient, @patient.build_finance]) do |f| %>
	<div class="row">
		<div class="col-md-3">
			<%= f.label :pension_id, "Fonte de rendimento" %>
			<%= f.collection_select(:pension_id, Pension.order('nome'), :id, :nome, { include_blank: true }, {class: 'form-control'} ) %>
		</div>
		<div class="col-md-2">
			<%= f.label :montante, "Montante €" %>
			<%= f.text_field :montante %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= f.label :observacoes %>
			<%= f.text_area :observacoes %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= f.submit "Guardar", class: 'btn btn-success' %>
		</div>
	</div>
<% end %>