<% provide(:title, "Dashboard") %>

<div class="col-md-3">
	<h2>
		<small>Dashboard</small><br />
		<%= current_user.nome %>
	</h2>
	<%= render 'patients/search' %><br />
	<legend>Últimos utentes</legend>
	<ul class="list-unstyled">
		<% @patients.each do |patient| %>
			<li><%= link_to " #{patient.id}. #{patient.nome}", patient %></li>
		<% end %>
	</ul>
</div>

<div class="col-md-9">
	<legend>Episódios em curso <span class="badge"><%= @episodes.count %></span></legend>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Data</th>
					<th>Utente</th>
					<th>Diagnóstico</th>
				</tr>
			</thead>
			<tbody>
				<% @episodes.each do |episode| %>
					<tr>
						<td><%= episode.data %></td>
						<td><%= link_to episode.patient.nome, episode.patient %></td>
						<td><%= episode.diagnostico%></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>