<%= form_for ([@patient, @patient.build_socialfamily]) do |f| %>
	<div class="row">
		<div class="col-md-3">
			<%= f.label :companhia %>
			<%= f.select(:companhia, options_for_select(['Só', 'Com família natural', 'Outra']), { include_blank: true }, { class: 'form-control' }) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<%= f.label :apoio %>
			<%= f.select(:apoio, options_for_select(['Familiares', 'Centro de Dia', 'Apoio Domiciliário', 'Outro']), { include_blank: true }, { class: 'form-control' }) %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= f.label :observacoes %>
			<%= f.text_area :observacoes %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= f.submit "Guardar", class: 'btn btn-success' %>
		</div>
	</div>
<% end %>