<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
        	<li class="active">
        		<%= link_to "Editar", edit_patient_socialfamily_path(@patient, @patient.socialfamily) %>
        	</li>
        </ul>
		<div class="col-md-2">
			<%= link_to "Eliminar", [@patient, @patient.socialfamily], method: :delete, data: { confirm: "A acção é irreversível. Deseja continuar?" }, class: 'btn btn-danger navbar-btn' %>
		</div>
	</div>
</nav>
<div class="col-md-6">
	<label>Com quem vive </label>
	<%= @patient.socialfamily.companhia %>
</div>
<div class="col-md-6">
	<label>De quem recebe apoio </label>
	<%= @patient.socialfamily.apoio %>
</div>
<br /><hr />

<div class="col-md-12">
	<label>Tipo de ajuda </label>
	<% if @patient.socialfamily.socialfamilyhelp.nil? %>
		&nbsp;
	<% else %>
		<%= @patient.socialfamily.socialfamilyhelp.nome %>
	<% end %>	
</div>
<br /><hr />

<div class="col-md-12">
	<label>Observações</label>
	<%= @patient.socialfamily.observacoes %>
</div>