<%= form_for @subsystem, html: { class: 'form-horizontal' } do |f| %>
	<% if @subsystem.errors.any? %>
		<div class="error_explanation">
			<h2>O formulário contém <%= pluralize(@subsystem.errors.count, "erro") %></h2>
			<ul>
				<% for message in @subsystem.errors.full_messages %>
					<li><%= message %>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :nome, class: 'col-sm-2 control-label' %>
		<div class="col-sm-6">
			<%= f.text_field :nome, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-3">
			<%= f.submit "Guardar", class: 'btn btn-success' %>
		</div>
		<div class="col-sm-3">
			<%= link_to "Cancelar", subsystems_path, class: 'btn' %>
		</div>
	</div>
<% end %>