<%= form_for ([@patient, @episode]), html: { class: 'form-horizontal' } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="form-group">
		<%= f.label :data, class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.text_field :data, value: Date.today, placeholder: 'aaaa-mm-dd', class: 'data_jquery form-control' %>
		</div>
		<%= f.label :data_pedido_colaboracao, "Pedido de colaboração", class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.text_field :data_pedido_colaboracao, placeholder: 'aaaa-mm-dd', class: 'data_jquery form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :unit_id, "Unidade", class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.collection_select(:unit_id, Unit.order('nome'), :id, :nome, { include_blank: true }, { class: 'form-control' }) %>
		</div>
		<%= f.label :service_id, "Serviço", class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.collection_select(:service_id, Service.order('nome'), :id, :nome, { include_blank: true }, { class: 'form-control' }) %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :intervention_id, "Intervenção", class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.collection_select(:intervention_id, Intervention.order('nome'), :id, :nome, { include_blank: true }, { class: 'form-control' }) %>
		</div>
		<%= f.label :program_id, "Programa", class: 'col-md-3 control-label' %>
		<div class="col-md-3">
			<%= f.collection_select(:program_id, Program.order('nome'), :id, :nome, { include_blank: true }, { class: 'form-control' }) %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :diagnostico, "Diagnostico", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.text_area :diagnostico, rows:10, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :encaminhamento, "Encaminhamento", class: 'col-md-3 control-label' %>
		<div class="col-md-9">
			<%= f.text_area :encaminhamento, rows:10, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-3 col-md-2">
			<%= f.submit "Guardar", class: 'btn btn-success' %>
		</div>
		<div class="col-md-2">
			<%= link_to "Cancelar", @patient, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$('input#episode_data').datepicker({
			format: "yyyy-mm-dd",
			todayHighlight: true,
			todayBtn: "linked",
			autoclose: true
		});
	});
</script>