<%= form_for([@patient, @patient.contacts.build], html: { class: 'form-horizontal' } ) do |f| %>
	<legend>Novo contacto preferencial</legend>
	<div class="form-group">
		<%= f.label :nome, class: 'col-md-2 control-label' %>
		<div class="col-md-10">
			<%= f.text_field :nome, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :morada, class: 'col-md-2 control-label' %>
		<div class="col-md-10">
			<%= f.text_field :morada, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :telefone, class: 'col-md-2 control-label' %>
		<div class="col-md-4">
			<%= f.text_field :telefone, class: 'form-control' %>
		</div>
		<%= f.label :telemovel, class: 'col-md-2 control-label' %>
		<div class="col-md-4">
			<%= f.text_field :telemovel, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email, class: 'col-md-2 control-label' %>
		<div class="col-md-10">
			<%= f.text_field :email, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-2">
			<%= f.submit "Inserir", class: 'btn btn-success' %>
		</div>
	</div>
<% end %>