<%= form_for @patient do |f| %>
	<% if @patient.errors.any? %>
		<div class="error_explanation">
			<h2>O formulário contém <%= pluralize(@patient.errors.count, "erro") %></h2>
			<ul>
				<% for message in @patient.errors.full_messages %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :nome %>
	<%= f.text_field :nome %>
	<%= f.label :data_de_nascimento %>
	<%= f.date_select :data_de_nascimento %>
	<%= f.label :residencia %>
	<%= f.text_field :residencia %>
	<%= f.label :telefone %>
	<%= f.text_field :telefone %>
	<%= f.label :sistema_de_saude %>
	<%= f.text_field :sistema_de_saude %>
	<%= f.label :sistema_de_saude_numero %>
	<%= f.text_field :sistema_de_saude_numero %>
	<%= f.label :cartao_de_cidadao %>
	<%= f.text_field :cartao_de_cidadao %>
	<%= f.label :numero_identificacao_fiscal %>
	<%= f.text_field :numero_identificacao_fiscal %>
	<%= f.label :nome_contacto_preferencial %>
	<%= f.text_field :nome_contacto_preferencial %>
	<%= f.label :telefone_contacto_preferencial %>
	<%= f.text_field :telefone_contacto_preferencial %>
	<%= f.label :morada_contacto_preferencial %>
	<%= f.text_field :morada_contacto_preferencial %>
	<%= f.label :telemovel_contacto_preferencial %>
	<%= f.text_field :telemovel_contacto_preferencial %>

	<%= f.submit "Guardar", class: 'btn btn-success' %>
	<%= link_to "Cancelar", @patient, class: 'btn' %>
<% end %>