<% provide(:title, @patient.nome) %>

<div class="row">
	<div class="col-md-3 well">
		<legend><%= @patient.nome %></legend>
		
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#episodios" data-toggle="tab">Episódios <span class="badge"><%= @patient.episodes.count %></span></a></li>
			<li><a href="#situacaoPessoal" data-toggle="tab">Perfil</a></li>
			<li><a href="#situacaoHabitacional" data-toggle="tab">Situação Habitacional</a></li>
			<li><a href="#situacaoEconomica" data-toggle="tab">Situação Económica</a></li>
			<li><a href="#situacaoSocioFamiliar" data-toggle="tab">Situação Sócio-familiar</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="tab-content">
			<div class="tab-pane active" id="episodios">
				<%= render 'episodes/index' %>
			</div>
			<div class="tab-pane" id="situacaoPessoal">
				<%= render 'show' %>
			</div>
			<div class="tab-pane" id="situacaoHabitacional">
				<% if @patient.habitation.nil? %>
					<%= render 'habitations/new' %>
				<% else %>
					<%= render 'habitations/show' %>
				<% end %>
			</div>
			<div class="tab-pane" id="situacaoEconomica">
				<%= render 'finances' %>
			</div>
			<div class="tab-pane" id="situacaoSocioFamiliar">
				<% if @patient.socialfamily.nil? %>
					<%= render 'socialfamilies/new' %>
				<% else %>
					<%= render 'socialfamilies/show' %>
				<% end %>
			</div>
		</div>
	</div>
</div>