<% provide(:title, @patient.nome) %>

<h1><%= @patient.nome %></h1>
<div class="row well">
	<div class="col-md-2">
		<%= render 'patient' %>
	</div>
	<div class="col-md-10">
		<ul class="nav nav-pills">
			<li class="active"><a href="#episodios" data-toggle="tab">Episódios</a></li>
			<!--<li><a href="#agregadoFamiliar" data-toggle="tab">Agregado Familiar</a></li>-->
			<li><a href="#situacaoHabitacional" data-toggle="tab">Situação Habitacional</a></li>
			<li><a href="#situacaoEconomica" data-toggle="tab">Situação Económica</a></li>
			<li><a href="#situacaoSocioFamiliar" data-toggle="tab">Situação Sócio-familiar</a></li>
		</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="episodios">
			<%= render 'episodes/index' %>
			</div>
			<div class="tab-pane" id="agregadoFamiliar">
				<%= render 'layouts/ipsum' %>
			</div>
			<div class="tab-pane" id="situacaoHabitacional">
				<% if @patient.habitation.nil? %>
					<%= render 'habitations/new' %>
				<% else %>
					<%= render 'habitations/show' %>
				<% end %>
			</div>
			<div class="tab-pane" id="situacaoEconomica">
				<%= render 'finances' %>
			</div>
			<div class="tab-pane" id="situacaoSocioFamiliar">
				<% if @patient.socialfamily.nil? %>
					<%= render 'socialfamilies/new' %>
				<% else %>
					<%= render 'socialfamilies/show' %>
				<% end %>
			</div>
		</div>
	</div>
</div>