<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
        	<li class="active">
        		<%= link_to "Editar", edit_patient_habitation_path(@patient,@patient.habitation) %>
        	</li>
        </ul>
		<div class="col-md-2">
			<%= link_to "Eliminar", [@patient, @patient.habitation], method: :delete, data: { confirm: 'A acção é irreversível. Deseja prosseguir?' } , class: 'btn btn-danger navbar-btn' %>
		</div>
	</div>
</nav>
<div class="col-md-12">
	<label>Morada</label>
	<%= @patient.habitation.morada %>
</div>
<br /><hr />

<div class="col-md-6">
	<label>C.Postal</label>
	<%= @patient.habitation.cpostal %>-
	<%= @patient.habitation.cpostalext %>
</div>
<div class="col-md-6">
	<label>Localidade</label>
	<%= @patient.habitation.localidade %>
</div>
<br /><hr />

<div class="col-md-6">
	<label>Tipo habitação</label>
	<% if @patient.habitation.habitationtype.nil? %>
		&nbsp;
	<% else %>
		<%= @patient.habitation.habitationtype.nome %>
	<% end %>
</div>
<div class="col-md-6">
	<label>Regime Ocupacional</label>
	<% if @patient.habitation.habitationoccupation.nil? %>
		&nbsp;
	<% else %>
		<%= @patient.habitation.habitationoccupation.nome %>
	<% end %>
</div>
<br /><hr />

<div class="col-md-6">
	<label>Meio residência</label>
	<%= @patient.habitation.meio_residencia %>
</div>
<div class="col-md-6">
	<label>Número quartos</label>
	<%= @patient.habitation.numero_quartos %>
</div>
<br /><hr />

<div class="col-md-4">
	<label>Sala</label>
	<% if @patient.habitation.sala %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<div class="col-md-4">
	<label>Casa de banho</label>
	<% if @patient.habitation.casa_de_banho %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<div class="col-md-4">
	<label>Barreiras</label>
	<% if @patient.habitation.barreiras %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<br /><hr />

<div class="col-md-6">
	<label>Estado de conservação</label>
	<%= @patient.habitation.estado_de_conservacao %>
</div>
<br /><hr />

<div class="col-md-4">
	<label>Água canalizada</label>
	<% if @patient.habitation.agua_canalizada %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<div class="col-md-4">
	<label>Electricidade</label>
	<% if @patient.habitation.electricidade %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<div class="col-md-4">
	<label>Esgotos</label>
	<% if @patient.habitation.esgotos %>
		Sim
	<% else %>
		&nbsp;
	<% end %>
</div>
<br /><hr />

<div class="col-md-12">
	<label>Observações</label>
		<%= @patient.habitation.observacoes %>
</div>